<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- NFC Permission -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- NFC Feature (required for NFC-enabled devices) -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- Internet for potential online authorization -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Biometric for CDCVM -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".TtpDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TtpDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TtpDemo">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NFC Intent Filter for card detection -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>

</manifest>
